<ion-view view-title="Contacts" ng-init="loadAllFriends()">
    <ion-nav-buttons id="10" side="secondary">
    <button class="button button-clear button-icon" ng-click="navAddFriend();">
      <i class="ion-plus"></i>
    </button>
  </ion-nav-buttons>
    <ion-content>
        <ion-list ng-show="friends">
            <ion-item ng-repeat="friend in friends" type="item-text-wrap" ng-click="openChatRoom(friend.roomId)">
                <!--<i class="icon {{room.icon}}"></i>-->
                <div class="row">
                    <img class="profile-pic" ng-src="data:image/jpeg;base64,{{friend.profileImage}}" width="15%" height="15%">
                    <h2>{{friend.displayName}}</h2>
                </div>
                <!--<ion-option-button class="button-assertive" ng-click="remove(friend)">
                    Delete
                </ion-option-button>-->
            </ion-item>
        </ion-list>
        <ion-list ng-hide="friends.length">
            <ion-item class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Friends
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>